// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	margin: 0;
	padding: 0;
}


header{
	height:60px;
	width:100%;
	background-color: rgb(42, 159, 188);
	dislpay:flex;
	align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;

    img{
    	height: 50px;
    	width: 50px;
    }

	ul#links{
		li{
			color:black;
			font-size:17px;
			margin-right: 17px;
		}
	}
}


.main{
	display : flex;
	width:100%;
	
	justify-content: space-between;
	
	.leftblock{
		width: 20%;
		
	
	}

	.centreblock{
		width: 60%;
		background-color: rgb(226, 236, 236);	

		.create_ques{
			
		}
		.ques{
			background-color: aqua;
			
		}

	}

	.rightblock{
		width: 20%;
		
	}

}


footer{
	height: 50px;
	width : 100%;
	position : fixed;
	bottom:0px;
	background-color: rgb(121, 114, 105);

}






#totop{
	position: fixed; 
	color:blue;
	right: 10px;
}

